ADMIN_USERNAME=admin
ADMIN_PASSWORD=replace-with-a-long-random-password
COOKIE_SECURE=false
PORT=80
SITE_URL=http://159.194.202.215
TI_LEAGUE_ID=19719
LIVE_SYNC_ENABLED=true
LIVE_SYNC_INTERVAL_MINUTES=10
SCHEDULE_SYNC_ENABLED=true
SCHEDULE_SOURCE_URL=https://www.cybersport.ru/tournaments/dota-2/the-international-2026
SCHEDULE_TIMEZONE_OFFSET=+03:00
AUTO_SNAPSHOT_ITERATIONS=100000
TI_PLAYIN_START=2026-08-17T00:00:00+08:00
TI_PLAYOFF_START=2026-08-20T00:00:00+08:00
